body{
    width: 100%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background: linear-gradient(40deg, rgb(209, 245, 68), rgb(57, 0, 110));
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    max-height: 100%;
}
#menu #bt {
    margin-top:20px;
    width: 150px;
    height: 60px;
    padding: 10px;
    box-shadow: 3px 3px 3px black;
    font-family: 'Silkscreen', cursive;
    background: linear-gradient(40deg, rgba(0, 0, 0, 0.795),rgba(57, 0, 110, 0.816));
    color: white;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
    
}

#menu #bt:hover{
    background: linear-gradient(40deg, rgba(0, 0, 0, 0.919),rgba(57, 0, 110, 0.919));
    box-shadow: 5px 3px 3px black;
    width: 160px;
    height: 70px;
    
}
